.gallery{
  border: 3px solid black;
  padding: 2px;
  margin: 5px;
  float: left;
}

.desc {
  padding: 30px;
  text-align: center;
}

.image{
  width: 20%;
  float: left;
}

img {
    max-width: 100%;
}
